<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaohai.mapper.QuestionMapper">

    <!-- Result Map -->
    <resultMap id="questionMap" type="com.xiaohai.model.vo.QuestionPageQueryVO">
        <result property="questionNumber" column="number"/>
        <result property="questionTitle" column="title"/>

        <result property="passNumber" column="passNumber"/>
        <result property="submitNumber" column="submitNumber"/>

    </resultMap>

    <select id="queryPage" resultType="com.xiaohai.model.vo.QuestionPageQueryVO" resultMap="questionMap">
        SELECT q.number AS number,
        q.title AS title,
        SUM(CASE WHEN s.result = 1 THEN 1 ELSE 0 END) AS passNumber,
        COUNT(s.question_number) AS submitNumber
        FROM question q
        LEFT JOIN question_submit s ON q.number = s.question_number
        WHERE 1=1
        <if test="title != null and title != ''">
            AND q.title LIKE CONCAT('%', #{title}, '%')
        </if>
        GROUP BY q.number order by q.number asc

    </select>

</mapper>
